.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/assets/pngtree-internet-life-shopping-cart-banner-blue-image_178879.jpg");
    height: 130px;
    position: relative;
    margin-top: 15px;
}

h1, h2 {
    color: antiquewhite;
    padding-left: 20px;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.3rem;
    color: aquamarine;
}

img {
    border: 2px royalblue double;
    border-radius: 50%;
    width: 64px;
    position: absolute;
    bottom: -30px;
    left: 30px;    
}

ul {
    list-style: none;
    position: absolute;
    right: 8px;
    top: 8px;
}

ul li {
    display: inline-block;
    margin: 2px;
}

i {
    font-size: 24px;
    color: gainsboro;
}

i:hover {
    color: aqua;
}

@media (max-width: 480px){
    img {
        width: 48px;
        bottom: -25px;
    }
}