<div class="container-box">
    <div class="img-logo"><img src="assets/APLogo-20-20.png" alt=""></div>
    <div class="img"><img src="assets/profile.jpg" alt=""></div>
    <ul>
        <li><a href="https://www.facebook.com/nicolas.chiesa.5" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/nicolaschiesa" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="https://github.com/nix-star" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        <li><i class="fa-solid fa-circle-user" target="_blank"></i></li>
    </ul>
</div>
