.container-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("/assets/banner-blue.jpg");
    height: 130px;
    margin-top: 10px;
}

h1, h2 {
    color: antiquewhite;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.3rem;
    color: aquamarine;
}

.img img {
    border: 2px royalblue double;
    border-radius: 50%;
    width: 64px;
    position: absolute;
    bottom: -30px;
    left: 30px;    
}

/* .img img:hover {
    filter: opacity(0.8);
} */

.img-logo {
    height: 100%;
    width: 177px;
    position: relative;
    top: -5px;
    left: -20px;
}

.img-logo img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.cam {
    position: absolute;
    right: 80px;
    bottom: -35px;
    z-index: 1;
}

.cam i {
    font-size: 16px;
}

.cam i:hover {
    color: cadetblue;
}

ul {
    list-style: none;
    position: absolute;
    right: 8px;
    top: 8px;
}

ul li {
    display: inline-block;
    margin: 2px;
}

i {
    font-size: 24px;
    color: gainsboro;
}

i:hover {
    color: aqua;
}

@media (max-width: 480px){
    img {
        width: 48px;
        bottom: -25px;
    }

    .container-box {
        margin-top: 3px;
    }
}