ul {
    display: flex;
    position: absolute;
    top: 0px;
    right: 16px;
}

.btn {
    width: 24px;
    height: 24px;
    border-radius: 0;
    display: flex;
    justify-content: center;
}

i {
    font-size: 12px;
}
