h4 {
    font-size: 1.3rem;
}

ul {
    list-style-type: none;
    position: relative;
    margin-left: -20px;
    margin-right: 15px;
    padding-left: 40px;
    background-color: inherit;
}

ul img {
    position: absolute;
    left: 10px;
    top: 5px;
}

.bold {
    font-weight: bold;
}

.marked:nth-of-type(odd) {
    background-color: white;
}

.formal, .languages{
    padding-left: 50px;   
}