<div class="container-box">
    <h3>Formación profesional</h3>

    <h4>Educación formal</h4>
    <ul *ngFor="let edu of education.formal">
        <li >Carrera: <span class="text-secondary fw-bold">{{edu.career}}</span></li>
        <li>Institución: <span class="fst-italic">{{edu.academy}}</span></li>
        <li>Estado: <span 
            [ngClass]="edu.status === 'Incompleto' ? 'text-danger': 'text-success'" >
            {{edu.status}}</span></li>
        <img src="{{edu.logo}}" alt="" width="32" 
            [ngClass]="edu.career === 'Bioinformática' ? 'rounded-circle': ''">
        <app-buttons></app-buttons>
    </ul>

    <h4>Cursos</h4>
    <ul *ngFor="let year of education.informal">
        <li class="fw-bold">{{year.year}}</li>
        <ul *ngFor="let course of year.courses">
            <li class="text-secondary fw-bold">{{course.course}}</li>
            <li class="fst-italic">{{course.academy}}</li>
            <br>
        </ul>
        <app-buttons></app-buttons>
    </ul>

    <h4>Idiomas</h4>
    <ul *ngFor="let lang of education.languages">
        <li>Idioma: <span class="text-secondary fw-bold">{{lang.language}}</span></li>
        <li>Nivel: {{lang.level}}</li>
        <img src="{{lang.flag}}" alt="" width="32">
        <app-buttons></app-buttons>
    </ul>
</div>
