.iframe {
    position: relative;
    width: 260px;
    border: 1px solid black;
    padding-left: 8px;
    margin-bottom: 20px;
    background-color: white;
}

a {
    text-decoration: none;
}

.fa-github {
    position: absolute;
    right: 5px;
    top: 5px;
}

.fa-trash-can {
    position: absolute;
    right: 23px;
    top: 5px;
    /*color: #0d6efd;*/
}

