.flex-container {
    margin-left: 0px;
    margin-bottom: 10px;
    position: relative;
    left: -10px;
}


.modal-dialog {
        width: 300px !important;
        height: 600px !important;
        /* margin: 1.75rem auto; */
}

