/* You can add global styles to this file, and also import other style files */
.container-box {
    position: relative;
    margin: 32px;
    border: 2px solid grey;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    background: linear-gradient(90deg, azure, gainsboro, azure);
}

body { 
    background: linear-gradient(90deg, #75AADB, white, #75AADB);
}

hr {
    margin: 0 16px 12px 0 !important;
    height: 2px !important;
}

h3 {
    /* color: cadetblue; */
    color: #252fa2;
    font-weight: bold !important;
    position: relative;
}

h4 {
    font-weight: bold !important;
}
