/* You can add global styles to this file, and also import other style files */
.container-box {
    position: relative;
    margin: 32px;
    border: 2px solid grey;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 10px;
    background: linear-gradient(90deg, azure, gainsboro, azure);
}

body { 
    background: linear-gradient(90deg, skyblue, white, skyblue);
}

h3 {
    color: cadetblue;
}
