ul {
    list-style-type: none;
    padding-right: 16px;
}

i {
    display: inline-block;
}


/* hr {
    margin: 0 20px 12px 0; 
    height: 2px;
}

h3 {
    /* color: cadetblue; 
     color: #252fa2;
    font-weight: bold !important;
    position: relative; 
} */
